<div class="col-12 col-xl-6">
    <div class="table-responsive">
        {% include "phploc/size.html.twig" %}
    </div>

    <div class="table-responsive">
        {% include "phploc/dependencies.html.twig" %}
    </div>
</div>
<div class="col-12 col-xl-6">
    <div class="table-responsive">
        {% include "phploc/structure.html.twig" %}

        {% include "phploc/complexity.html.twig" %}

        {% if project.data('phploc').testClasses > 0 or project.data('phploc').testMethods > 0 %}
            {% include "phploc/tests.html.twig" %}
        {% endif %}
    </div>
</div>
