<div class="d-none d-md-block col-3">
    <div class="w-100 border p-2 position-sticky" style="top: 2rem;">
        <div class="small text-muted">On this page</div>

        {% block index %}{% endblock %}
        <ul class="list-unstyled mb-0 small">
        </ul>
    </div>
</div>
